.App {
  
}

#navbar-div {
  height: 70px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 15% 45% 40%;
}

#navbar-div:first-child {
  text-align: center;
  align-items: center;
}

#andrew-logo {
  height: 5vh;
  width: 12vh;
}

.navbar-menu-div {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.navbar-menu-div span {
  padding: 1.5vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
